<div class="bg-gray-100 p-4">
    <% if user_signed_in? %>
    <div>
        <%= render "posts" %>
    </div>
    <div >
        <%= will_paginate @posts %>
    </div>
    <% end %>
</div>

    
    
   
    
    
    
    
    
    
    
  
  
   










