.comment-button{
    float: right;
}
.send-button{
  float: right;
}

.edit-button:hover{
    background: #ddd !important;
}
.comment-box{
    height: 75px;
    overflow: scroll;
    overflow-x: hidden;
    
    
}


/* width */
::-webkit-scrollbar {
    width: 13px;
    height: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }



.my-posts{
  width: 290px;
  height: 290px;
  overflow: hidden;
  background-size: cover !important;
}
.posts-stats{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  color: #fff;
  

  .center-stats{
    margin-top: 45%;
    
  }
}




.post-actions{
  margin-bottom: 20px;
  i{
    margin-right: 10px;
    color: #ddd ;
  }
}




.search-result-item {
  padding: 15px;
}

.search-result-item:hover {
  background-color: #fafafa;
}

.popover {
  border-radius: 0;
}

.popover-body {
  background: #fff;
  padding: 0;
}


.liked {
  color: red !important;
}


/* hide search icon on search focus */
.search-bar:focus + .fa-search{
  display: none;
}
.delete-comment{
  opacity: 0.3;
  float: right;
  padding-right: 15px;
}

.comment-content{
  opacity: 0.7;
  font-size:xx-small;
}

.fa-trash-alt{
  float: right;
  opacity: 0.5;
  padding-right: 15px;
}

.fa-trash-alt:hover {
  opacity: 1.0;
}
.caption-text{
  
  font-size:x-small;
}

.digg_pagination {

  background: rgb(243, 244, 246);
  cursor: default;
  text-align: center;

  
}


.search-items{
  text-align: center;
  
}

