.comment-button{
    float: right;
}
.send-button{
  float: right;
}

.edit-button:hover{
    background: #ddd !important;
}
.comment-box{
    height: 75px;
    overflow: scroll;
    overflow-x: hidden;
    
    
}


/* width */
::-webkit-scrollbar {
    width: 13px;
    height: 16px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #edf2f7;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #cbd5e0;
    border-radius: 100vh;
    border: 3px solid #edf2f7;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a0aec0;
  }



.my-posts{
  width: 290px;
  height: 290px;
  overflow: hidden;
  background-size: cover !important;
}
.posts-stats{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  color: #fff;
  

  .center-stats{
    margin-top: 45%;
    
  }
}

.post-background{
  background-image: url(new-post.jpg) ;
  background-size: contain;
  opacity: 0.5;
}


.post-actions{
  margin-bottom: 20px;
  i{
    margin-right: 10px;
    color: #ddd ;
  }
}




.search-result-item {
  padding: 15px;
}

.search-result-item:hover {
  background-color: #fafafa;
}

.popover {
  border-radius: 0;
}

.popover-body {
  background: #fff;
  padding: 0;
}


.liked {
  color: red !important;
}


/* hide search icon on search focus */
.search-bar:focus + .fa-search{
  display: none;
}
.delete-comment{
  opacity: 0.3;
  float: right;
  padding-right: 15px;
}

.comment-content{
  opacity: 0.7;
  font-size:xx-small;
}

.fa-trash-alt{
  float: right;
  opacity: 0.5;
  padding-right: 15px;
}

.fa-trash-alt:hover {
  opacity: 1.0;
}
.caption-text{
  opacity: 0.7;
  font-size:x-small;
}

.digg_pagination {

  background: rgb(243, 244, 246);
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; 
}

